#linkBox {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

#portfolioBoxes {
  display: flex;
  justify-content: space-around;
}

#portfolioImg {
  width: 90%;
  height: 200px;
}

@media screen and (max-width: 768px) {
  #changeClr {
    background-color: aqua;
  }

  /* #boxes {
    flex-direction: column;
  } */

  /* #box {
    width: 100%;
  }  */
}
