#linkBox {
  display: flex;
  justify-content: space-evenly;
  width: 35%;
  margin: auto;
}

#portfolioImg {
  width: 90%;
  height: 200px;
  margin-left: 21px;
  margin-top: 10px;
}

main {
  background-color: #3eaee7;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
  gap: 15px;
}

#indBox {
  width: 32%;
  font-size: 15px;
  background-color: blue;
  position: relative;
  height: 450px;
  border-radius: 10px;
}

#indBox p {
  text-align: center;
  padding: 7px;
}

#indBox h5 {
  text-align: center;
  margin-top: 10px;
}

#secondBox {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* #indBox:hover,
#indBox:focus {
  box-shadow: 0 0.5em 0.5em -0.4em 88888 var(--hover);
  transform: translateY(-0.5em);
} */

#indTabs {
  height: 45px;
  margin-top: 5px;
}

#btn {
  background-color: white;
  color: #3eaee7;
  border-color: #3eaee7;
  padding: 10px;
  border-radius: 30px;
  width: 225px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#btn:hover {
  background-color: #3eaee7;
  color: white;
  border-color: #3eaee7;
}

#footerBtn {
  background-color: white; /* Green */
  border: solid 2px #3eaee7;
  color: #3eaee7;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
}

#footerBtn:hover {
  background-color: #3eaee7;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  #boxes {
    flex-direction: column;
  }
  #indBox {
    width: 100%;
    margin-top: 20px;
  }

  /* #tabs {
    flex-direction: column;
  } */
}

#backgroundB {
  background-color: #3eaee7;
}

#backgroundG {
  background-color: green;
}
